# created by virtualenv automatically
/lib
/bin
.env
.env.production
/recorded
/processed
/output-frames
/roi_frames
firebase-dev.json
warzone-streamer.csv
main.py
heatmap.png
frames/
frames_processed/
cod-data
**/__pycache__/
venv/
local-dev/
scripts/machine-learning
development/