# created by virtualenv automatically
/lib
/bin
.env
/recorded
/processed
/output-frames
/roi_frames
firebase-dev.json
warzone-streamer.csv
main.py
heatmap.png
frames/
frames_processed/
cod-data
**/__pycache__/
